<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles/bootstrap.min.css" production-href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Play' type='text/css'>
	<link rel='stylesheet' href='styles/style.css' type='text/css'>
	<title>CoinGraph</title>
</head>
<body>

	<div class="container" ng-app="coingraph" ng-controller="chartController">

		<!-- <div class="row canvas-row"> -->
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-4 col-md-offset-8">
						<h1 class="_3d">CoinGraph</h1>
					</div>
				</div>
				<div id="chart">
					<!-- <canvas linechart options="options" data="chart" width="920" height="400"></canvas> -->
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-1">
						<div class="btn-group btn-group-xs">
						  <button type="button" class="btn btn-default"
						  		ng-class=""
						  		ng-click="setRange(range)"
						  		ng-repeat="range in ranges">{{range.name}}</button>

						  <!-- <button type="button" class="btn btn-success">1 month</button>
						  <button type="button" class="btn btn-default">1 week</button>
						  <button type="button" class="btn btn-default">1 day</button>
						  <button type="button" class="btn btn-default">12 Hours</button>
						  <button type="button" class="btn btn-default">6 Hours</button>
						  <button type="button" class="btn btn-default">3 Hours</button>
						  <button type="button" class="btn btn-default">1 Hour</button>
						  <button type="button" class="btn btn-default">10 mins</button> -->
						</div>
					</div>
					<div class="col-md-4">
						<div class="btn-group btn-group-xs">
							<button type="button" class="btn btn-default"
						  		ng-class=""
						  		ng-click="setSymbol(symbol)"
						  		ng-repeat="symbol in symbols">{{symbol.name}}</button>
						  <!-- <button type="button" class="btn btn-success">BTC USD</button>
						  <button type="button" class="btn btn-default">BTC EUR</button>
						  <button type="button" class="btn btn-default">LTC BTC</button>
						  <button type="button" class="btn btn-default">LTC EUR</button>
						  <button type="button" class="btn btn-default">LTC USD</button> -->
						</div>
					</div>
				</div>
			</div>
		<!-- </div> -->
		<div class="row">

		</div>
		<!-- <button ng-click="clickme()">click me</button> -->
	</div>

	<script src="socket.io/socket.io.js"></script>
	<script src="scripts/angular.min.js" production-src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="scripts/chart.min.js"></script>
	<script src="scripts/angles.js"></script>
	<script src="scripts/app.min.js"></script>

</body>
</html>